<center>
    <h1>Schedule Creator - Week View</h1>
    <h2>Dates: @ViewData["DateRange"]</h2>
    <!--Render the Previous and Next Week Buttons and the Show Availabilities Button-->
    <div style="width:100%;">
        <a class="link-button-nofloat" asp-action="Index" asp-route-modifier="@(ViewBag.Modifier - 1)">Previous Week</a>
        <a class="link-button-nofloat" asp-action="Index" asp-route-modifier="@(ViewBag.Modifier + 1)">Next Week</a><br />
        <a class="link-button-nofloat" asp-action="Index" asp-route-modifier="@ViewBag.Modifier" asp-route-showavailabilities="@(!(ViewBag.ShowAvailabilities))">@(ViewBag.ShowAvailabilities ? "Hide Availabilities" : "Show Availabilities")</a>
    </div>
    <p>Click on a day below to zoom to that day.</p>
</center>
<table>
    <tr class="headerrow2">
        <td></td>
        <td class="cell2">Monday</td>
        <td class="cell2">Tuesday</td>
        <td class="cell2">Wednesday</td>
        <td class="cell2">Thursday</td>
        <td class="cell2">Friday</td>
        <td class="cell2">Saturday</td>
        <td class="cell2">Sunday</td>
    </tr>
    <tr class="headerrow2">
        <td class="cell2">Employee</td>
        @{
            for(int j =0; j < 7; j++)
            {
                if( ViewBag.StartDate.AddDays(j) < DateTime.Today)
                {//if the day in question is before today, then it shouldn't be able to be edited
                    <td class="cell2"><a class="link-button-nofloat">@ViewBag.StartDate.AddDays(j).ToString("d")</a></td>
                }
                else
                {//this means it is after today
                    <td class="cell2"><a class="link-button-nofloat" asp-action="Painter" asp-route-date="@ViewBag.StartDate.AddDays(j).ToString("d")">@ViewBag.StartDate.AddDays(j).ToString("d")</a></td>
                }
            }
        }
        </tr>
    @{
        int i = 0;
        foreach (Employee theEmployee in ViewBag.EmployeeList) //Iterate once per employee (Y-Axis)
        {
            DateTime theCursor = ViewBag.StartDate;
            <tr class="row2 @(i++%2==0 ? "evenrow" : "")">
                <td class="cell2">@theEmployee.FullName()</td>
                @{
                    foreach (DayOfWeek theDay in Availability.GetDaysOfWeek()) //Iterate once for each day of the week (starting on Monday) (X-Axis)
                    {
                        List<Shift> theShiftList = ViewBag.ShiftList;
                        IEnumerable<Shift> dayQuery = from theShift in theShiftList
                                                      where (theShift.ShiftDate.DayOfWeek == theDay)
                                                      && (theShift.EmployeeID == theEmployee.ID)
                                                      select theShift;
                                                      //Filter shift list to current employee record
                        List<Shift> theMatchingList = dayQuery.ToList();
                        <td class="cell2">
                            @{
                                if(TimeOffRequest.IsDayApprovedOffForEmployee(theEmployee.ID, theCursor))
                                {
                                    <p class="link-button-nofloat deny">Unavailable<br>Approved Time Off</p>
                                }
                            }
                            <p class="sv-shift-hours-bubble">
                                @{
                                    foreach (Shift theShift in theMatchingList)
                                    {
                                        @theShift.StartTime.ToString("t") <br />
                                        @theShift.EndTime.ToString("t")
                                    }
                                    if (theMatchingList.Count == 0)
                                    {
                                        @("Off")
                                    }
                                }
                            </p>
                            @{
                                if(ViewBag.ShowAvailabilities) //If the ShowAvailabilities flag is set, also show the employee's availability
                                {
                                    <p class="sv-availability-bubble">
                                        Availability<br />
                                        @theEmployee.GetCurrentAvailability().GetDayString(theDay)
                                    </p>
                                }
                            }
                        </td>
                        theCursor = theCursor.AddDays(1); //Move the cursor to the next day of the week.
                    }
                }
            </tr>
        }
    }
</table>