@{
    ViewData["Title"] = "Availibility Editor";
}
<div class="text-center">
    <p>@ViewData["Message"]</p>

    <h1 class=display>
        Availibility Editor <br/>
        Employee Name: @ViewBag.CurrentUser.FirstName
    </h1>


 

</div>



    <table class="center">
        <tr id="table-title"><th colspan="6">Enter availibility below</th></tr>
        <tr><td></td><td>Open?</td><td>Start</td><td>End</td><td>Close?</td><td>Not availible?</td></tr>
        <tr>
            <td>Monday</td>
            <td><input type="checkbox" name="m_OP" value="no"></td>
            <td>
                <select name="m_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="m_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="MondayCl"></td>
            <td><input type="checkbox" value="MondayNA"></td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td><input type="checkbox" name="tu_OP" value="no"></td>
            <td>
                <select name="tu_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="tu_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="TuesdayCl"></td>
            <td><input type="checkbox" value="TuesdayNA"></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td><input type="checkbox" name="w_OP" value="no"></td>
            <td>
                <select name="w_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="w_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="WednesdayCl"></td>
            <td><input type="checkbox" value="WednesdayNA"></td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td><input type="checkbox" name="th_OP" value="no"></td>
            <td>
                <select name="th_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="th_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="ThursdayCl"></td>
            <td><input type="checkbox" value="ThursdayNA"></td>
        </tr>
        <tr>
            <td>Friday</td>
            <td><input type="checkbox" name="f_OP" value="no"></td>
            <td>
                <select name="f_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="f_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="FridayCl"></td>
            <td><input type="checkbox" value="FridayNA"></td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td><input type="checkbox" name="sa_OP" value="no"></td>
            <td>
                <select name="sa_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="sa_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="SaturdayCl"></td>
            <td><input type="checkbox" value="SaturdayNA"></td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td><input type="checkbox" name="su_OP" value="no"></td>
            <td>
                <select name="su_start">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td>
                <select name="su_end">
                    <option value="#">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11PM</option>
                </select>
            </td>
            <td><input type="checkbox" value="SundayCl"></td>
            <td><input type="checkbox" value="SundayNA"></td>
        </tr>
    </table>

  
<div class="text-center">
    <br />
   
    <label>Effective Date:</label>
    <input type="text" name="EffectDate" required>
  
    <br/>
    
    <br/>

    <form asp-action="Undo">
        <input type="submit" value="Undo">
   </form>
 
   <br />

   <form asp-action="Update">
        <input type="submit" value="Update" >
    </form>

    <br />
    <p>Current availability</p>
    @{
        //will return the availability of a day in XX:XX XM - XX:XX XM format
        string trimString(String start, String end)
        {
            String current = start;//will swtich between the start and end times
            String final = "";//the final string we return
            //trim down the unnesecary parts of the string
            current = current.Remove(0, 9);
            current = current.Remove(4, 3);
            //update the final string
            final+=current+" - ";
            //repeat for leave time
            current = end;
            current = current.Remove(0, 9);
            current = current.Remove(4, 3);
            //update string and return it
            final += current;
            return final;
        }
       
        String fullAvail = "";//will contain the current days availability
        

        //fill string with that days information. put the string in the view data variable
        //display variable within a label (label over p for spacing reasons). Then add a br to start a new line
        //rinse and repeat for all days
        fullAvail = "Monday: " + trimString(ViewBag.CurrentAvailability.MondayStart.ToString(), ViewBag.CurrentAvailability.MondayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"] </label>
        <br/>
        fullAvail = "Tuesday: " + trimString(ViewBag.CurrentAvailability.TuesdayStart.ToString(), ViewBag.CurrentAvailability.TuesdayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>
           <br/>
        fullAvail = "Wednesday: " + trimString(ViewBag.CurrentAvailability.WednesdayStart.ToString(), ViewBag.CurrentAvailability.WednesdayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>
           <br/>
        fullAvail = "Thursday: " + trimString(ViewBag.CurrentAvailability.ThursdayStart.ToString(), ViewBag.CurrentAvailability.ThursdayEnd.ToString());
          ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>
           <br/>
        fullAvail = "Friday: " + trimString(ViewBag.CurrentAvailability.FridayStart.ToString(), ViewBag.CurrentAvailability.FridayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>
           <br/>
        fullAvail = "Saturday: " + trimString(ViewBag.CurrentAvailability.SaturdayStart.ToString(), ViewBag.CurrentAvailability.SaturdayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>
        <br />
        fullAvail = "Sunday: " + trimString(ViewBag.CurrentAvailability.SundayStart.ToString(), ViewBag.CurrentAvailability.SundayEnd.ToString());
        ViewData["Avail"] = fullAvail;
        <label>@ViewData["Avail"]</label>

      
    }
    

</div>




    @{
        
    }
