@{
    ViewData["Title"] = "Availability Editor";
}
<div class="text-center">
    <p class="error">@Html.Raw(ViewData["Message"])</p>
    <p class="success">@ViewData["SuccessMessage"]</p>
    <h1 class=display>
        Availability Editor <br/>
        Employee Name: @ViewBag.CurrentAvailability.GetEmployee().FullName()
    </h1>
</div>
<form asp-action=Update asp-route-id="@ViewBag.CurrentAvailability.ID" onreset="setTimeout(EnforceChangeOnNotAvailable,100)">
    <table class="center">
        <tr class="headerrow2"><th colspan="6">Enter availability below</th></tr>
        
        <tr class="headerrow2">
            <td class="cell3">Day</td>
            <td class="cell3">Open?</td>
            <td class="cell3">Start</td>
            <td class="cell3">End</td>
            <td class="cell3">Close?</td>
            <td class="cell3">Not availible?</td>
        </tr>
        @{
            int rownum = 0;
            DateTime theDate = Convert.ToDateTime("1/1/2001 00:00:00");
            foreach (DayOfWeek theDay in Availability.GetDaysOfWeek()) //Loop through each of the seven days of the week.
            {
                rownum++;
                <tr class="row2 @(rownum%2==0?"evenrow":"")">
                    <td class="cell3">@Availability.DayString(theDay)</td>
                    <td class="cell3"><input @(ViewBag.CurrentAvailability.GetStart(theDay).ToString("t") == "12:00 AM" ? "checked" : "") type="checkbox" id="@("CanOpen" + Availability.DayString(theDay))" name="CanOpen" value="@Availability.DayString(theDay)" onchange="EnforceChangeOnOpenOrClose()"> </td>
                    <td class="cell3">
                        <select name="@(Availability.DayString(theDay)+"Start")" id="@(Availability.DayString(theDay)+"Start")">
                            @{
                                for (int i = 0; i < 24; i++)
                                {
                                    if (theDate.ToString("t") == ViewBag.CurrentAvailability.GetStart(theDay).ToString("t"))
                                    {
                                        <option selected value="@theDate.ToString()">@theDate.ToString("t")</option>
                                    }
                                    else
                                    {
                                        <option value="@theDate.ToString()">@theDate.ToString("t")</option>
                                    }
                                    theDate = theDate.AddHours(1);
                                }
                            }
                        </select>
                    </td>
                    <td class="cell3">
                        <select name="@(Availability.DayString(theDay)+"End")" id="@(Availability.DayString(theDay)+"End")">
                            @{
                                theDate = Convert.ToDateTime("1/1/2001 00:00:00");
                                for (int i = 0; i < 24; i++)
                                {
                                    if (theDate.ToString("t") == ViewBag.CurrentAvailability.GetEnd(theDay).ToString("t"))
                                    {
                                        <option selected value="@theDate.ToString()">@theDate.ToString("t")</option>
                                    }
                                    else
                                    {
                                        <option value="@theDate.ToString()">@theDate.ToString("t")</option>
                                    }
                                    theDate = theDate.AddHours(1);
                                }
                            }
                        </select>
                    </td>
                    <td class="cell3"><input @(ViewBag.CurrentAvailability.GetEnd(theDay).ToString("t") == "11:00 PM" ? "checked" : "") type="checkbox" id="@("CanClose" + Availability.DayString(theDay))" name="CanClose" value="@Availability.DayString(theDay)" onchange="EnforceChangeOnOpenOrClose()"></td>
                    <td class="cell3"><input @(ViewBag.CurrentAvailability.GetEnd(theDay).ToString("t") == ViewBag.CurrentAvailability.GetStart(theDay).ToString("t") ? "checked" : "") type="checkbox" id="@("NotAvailable" + Availability.DayString(theDay))" name="NotAvailable" value="@Availability.DayString(theDay)" onchange="EnforceChangeOnNotAvailable()"></td>
                </tr>
            }
        }
    </table>
    <div class="text-center">
        <br />
        <input type="reset" id="reset "value="Reset" />
        <br />
        <input type="submit" value="Update" >
        <br />
    </div>
</form>
<script type="text/javascript">
    document.onload=setTimeout(EnforceChangeOnNotAvailable, 1);
    function EnforceChangeOnOpenOrClose() {
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        for (let i = 0; i < days.length; i++) {
            if(document.getElementById("NotAvailable" + days[i]).checked == false) {
                document.getElementById(days[i] + "Start").disabled = document.getElementById("CanOpen" + days[i]).checked;
                document.getElementById(days[i] + "End").disabled = document.getElementById("CanClose" + days[i]).checked;
            }
        }
    }
    function EnforceChangeOnNotAvailable() {
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        for (let i = 0; i < days.length; i++) {
            document.getElementById("CanOpen" + days[i]).disabled = document.getElementById("NotAvailable" + days[i]).checked;
            document.getElementById("CanClose" + days[i]).disabled = document.getElementById("NotAvailable" + days[i]).checked;
            document.getElementById(days[i] + "Start").disabled = document.getElementById("NotAvailable" + days[i]).checked;
            document.getElementById(days[i] + "End").disabled = document.getElementById("NotAvailable" + days[i]).checked;
        }
        EnforceChangeOnOpenOrClose();
    }
</script>
@{
        
}
