


    <center>
        <h1>Request Time Off</h1>
        <form asp-action = "Submit">
            <label for="employee-name">Name:</label>
            @ViewBag.CurrentUser.FullName()<br /><br />

            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" required /><br /><br />

            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" required /><br /><br />

            <label for="reason">Reason for Time Off:</label>
            <textarea id="reason" name="reason" rows="4" cols="50"></textarea><br /><br />

        <input type="submit" value="Submit" />
        </form>
        <table class="request-table">
            <tr class="row2">
                <td class="cell2"> Start Date</td>
                <td class="cell2">End Date</td>
                <td class="cell2">Notes</td>
                <td class="cell2">Approved</td>
                <td class="cell2">Manager</td>
            </tr>
        @{
            foreach(TimeOffRequest TheRequest in ViewBag.TORList)
            {
                <tr class ="row2">
                <td class="cell2">@TheRequest.StartDate.ToString("D")</td>
                    <td class="cell2">@TheRequest.EndDate.ToString("D")</td>
                    <td class="cell2">@TheRequest.Notes</td>
                    <td class="cell2">@TheRequest.IsApproved</td>
                    <td class="cell2">@(TheRequest.ManagerID == 0 ? "None" : TheRequest.GetManager().FullName())</td>


                </tr>
            }
        }
        </table>
    </center>
   
       

