<h2 class="text-center"> Shift Details</h2>
<hr />

@{
    ViewData["Title"]= "View Shift Details";
    Shift thisShift = ViewBag.ThisShift;
    
    <dl class="row">
        <dt class="col-1">
        ID:
        </dt>
        <dd class="col-1">
        @thisShift.ID
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            Role:
        </dt>
        <dd class="col-2">
            @thisShift.Role
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            Is Open:
        </dt>
        <dd class="col-2">
            @thisShift.IsOpen
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            Date:
        </dt>
        <dd class="col-2">
            @thisShift.ShiftDate
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            Start Time:
        </dt>
        <dd class="col-2">
            @thisShift.StartTime
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            End Time:
        </dt>
        <dd class="col-2">
            @thisShift.EndTime
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-1">
            Notes:
        </dt>
        <dd class="col-2">
            @thisShift.Notes
        </dd>
    </dl>

    <hr/>
    <a asp-action="ScheduleEditorIndex" class="link-button-nofloat">Back</a> <a class="link-button-nofloat">Edit</a><a asp-action="deleteShift" asp-route-id="@thisShift.ID" class="link-button-nofloat">Delete</a>

}
