<h2 class="text-center"> Shift Details</h2>
<hr />

@{
    ViewData["Title"]= "View Shift Details";
    Shift thisShift = ViewBag.ThisShift;
    Employee thisEmployee = thisShift.GetEmployee();
    @*View Data when in Edit Mode. Creates a form that will allow you to save to the database*@
    if (Convert.ToInt32(ViewData["EditShift"]) == thisShift.ID)
    {
        <form asp-action="UpdateShift" asp-route-id ="@thisShift.ID">
        <dl class="row">
            <dt class="col-1">
                ID:
            </dt>
            <dd class="col-1">
                @thisShift.ID
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Role:
            </dt>
            <dd class="col-2">
                @*<input value="@thisShift.Role" name="NewRole">*@
                <select name="NewRole">
                        @{
                            List<Role> RoleList = Role.GetList();
                            foreach (Role theRole in RoleList)
                            {
                                if(theRole.Name == thisShift.Role)
                                {
                                    <option selected value ="@theRole.Name">@theRole.Name</option>
                                }
                                else
                                {
                                    <option value="@theRole.Name">@theRole.Name</option>
                                }

                            }
                        }
                        <option value="Unspecified">Unspecified</option>
                </select>
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-1">
                Date:
            </dt>
            <dd class="col-2">
                <input name="NewDate" type="date"Value ="@thisShift.ShiftDate.ToString("yyyy-MM-dd")">
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Start Time:
            </dt>
            <dd class="col-2">
                    <select name="NewStartTime">
                        @{
                            DateTime theStartTime = Convert.ToDateTime("00:00:00");
                            for (int i = 0; i < 96; i++)
                            {
                                if(theStartTime.ToString("t") == thisShift.StartTime.ToString("t"))
                                {
                                    <option selected value="@theStartTime.ToString()">@theStartTime.ToString("t")</option>
                                }
                                else
                                {
                                    <option value="@theStartTime.ToString()">@theStartTime.ToString("t")</option>
                                }

                                theStartTime = theStartTime.AddMinutes(15);
                            }
                        }
                    </select>

            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                End Time:
            </dt>
            <dd class="col-2">
                    <select name="NewEndTime">
                        @{
                            DateTime theEndTime = Convert.ToDateTime("00:00:00");
                            for (int i = 0; i < 96; i++)
                            {
                                if(theEndTime.ToString("t") == thisShift.EndTime.ToString("t"))
                                {
                                    <option selected value="@theEndTime.ToString()">@theEndTime.ToString("t")</option>
                                }
                                else
                                {
                                    <option value="@theEndTime.ToString()">@theEndTime.ToString("t")</option>
                                }

                                theEndTime = theEndTime.AddMinutes(15);
                            }
                        }
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-1">
                    Employee:
                </dt>
                <dd class="col-2">
                    <select name="NewEmployee">
                        @{
                            <option value="0">Open</option>
                            if(thisEmployee== null)
                            {
                                <option selected value="null">Open</option>
                            }
                            List<Employee> EmployeeList = Employee.GetList();
                            foreach(Employee employee in EmployeeList)
                            {
                                if(employee.ID == thisEmployee.ID)
                                {
                                    <option selected value="@employee.ID">@employee.FullName()</option>
                                }
                                else
                                {
                                    <option value="@employee.ID">@employee.FullName()</option>
                                }
                            }
                        }
                    </select>
                </dd>
            </dl>
        <dl class="row">
            <dt class="col-1">
                Notes:
            </dt>
        </dl>
        <textarea id="NewNotes" name="NewNotes" rows="20" cols="100" style="resize:none" value="@thisShift.Notes">@thisShift.Notes</textarea>
        <br />
        <button asp-action="ViewDetails" asp-route-id="@thisShift.ID">Cancel</button>
        <input type="submit" value="Save">
        </form>
        <hr />
    }
    @*View Data that displays when not in Edit mode*@
    else
    {
        <dl class="row">
            <dt class="col-1">
                ID:
            </dt>
            <dd class="col-1">
                @thisShift.ID
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Role:
            </dt>
            <dd class="col-2">
                @thisShift.Role
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Is Open:
            </dt>
            <dd class="col-2">
                @thisShift.IsOpen
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Date:
            </dt>
            <dd class="col-2">
                @thisShift.ShiftDate.ToString("D")
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Start Time:
            </dt>
            <dd class="col-2">
                @thisShift.StartTime.ToString("t")
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                End Time:
            </dt>
            <dd class="col-2">
                @thisShift.EndTime.ToString("t")
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Employee:
            </dt>
            <dd class="col-2">
                @thisEmployee.FullName()
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-1">
                Notes:
            </dt>
            <dd class="col-2">
                @thisShift.Notes
            </dd>
        </dl>
        <hr />
        <a asp-action="ScheduleEditorIndex" class="link-button-nofloat">Back</a> <a asp-action="EditShift" asp-route-id="@thisShift.ID" class="link-button-nofloat">Edit</a>
       
        //only create the delete button if the person in question should be able to delete it
        //only deletable if 1. Logged in user is manager this day or 2. Logged in user is GM

        //|| ViewBag.CurrentUser.RankID == 3
        if ((Shift.GetScheduleByEmployee(thisShift.ShiftDate, thisShift.ShiftDate, (Context.Session.GetInt32("_LoggedInEmployeeID") ?? 0)).Count > 0) || new Employee(Context.Session.GetInt32("_LoggedInEmployeeID")??0).RankID == 3)
        {
                <a asp-action="deleteShift" asp-route-id="@thisShift.ID" class="link-button-nofloat">Delete</a>

            }
            
       // <a asp-action="deleteShift" asp-route-id="@thisShift.ID" class="link-button-nofloat">Delete</a>
    }



}
