
@{
    ViewData["Title"] = "View Shifts";
    List<Shift> theShifts = ViewBag.ShiftList;
    
    if(ViewBag.control == 1 )
    {
        <center>
        
        <h2>Search Shifts By Date</h2>


        <form asp-action="ByDate">
        <p>Start Date <input name="StartDate" id="StartDate" type="date" /></p>
        <p>End Date <input  name="EndDate" type="date" min="StartDate" max="StartDate"/></p>
        <input type="submit" value="Search">
        <button asp-action="ScheduleEditorIndex">Cancel</button>
        </form>
        </center>
        <br />
        <hr />
        <center>
        @*This is the Standard Shift Table for displaying Shifts in an organized list. All other search methods will end with this table as a result*@
        <table class="w-75">
            <tr class="headerrow2">
                <td class="cell4">ID</td>
                <td class="cell4">Employee</td>
                <td class="cell4">Role</td>
                <td class="cell4">Date</td>
                <td class="cell4">Action</td>
            </tr>
        @{
            if(ViewBag.ShiftList == null)
            {
                <tr>
                <td class="cell4" colspan="5">No Shifts to Display</td>
                </tr>
            }
            else
            {
                foreach (Shift theShift in theShifts)
                {
                        Employee currentEmployee = theShift.GetEmployee();
                        <tr>
                            <td class="cell4">@theShift.ID</td>
                            <td class="cell4">@currentEmployee.FullName()</td>
                            <td class="cell4">@theShift.Role</td>
                            <td class="cell4">@theShift.ShiftDate.ToString("D")</td>
                            <td class="cell4"><a asp-action="ViewDetails" class="link-button-nofloat" asp-route-id="@theShift.ID">Detais</a></td>
                        </tr>
                }
            }
        }
        </table>
        </center>
    }
    else if(ViewBag.control == 2)
    {
        <center>
        <h2>Search By Employee</h2>
        <br />
        </center>
        <div>
        @*Organizes Employees by Rank in bubble box similar to one used in shift viewer*@
        <div class="editorShiftBox">
            <h4>General Manager</h4>
            @{
                foreach(Employee GManager in ViewBag.EmplyList)
                    if(GManager.RankID == 3 )
                    {
                        <div class="blockquote">
                        <a asp-action="ByEmployee" asp-route-id ="@GManager.ID" class="link-button-nofloat">@GManager.FullName()</a>
                        </div>
                    }
            }
        </div>
        <div class="editorShiftBox">
            <h4>Manager</h4>
            @{
                foreach(Employee Manager in ViewBag.EmplyList)
                    if(Manager.RankID == 2)
                    {
                        <div class="blockquote">
                        <a asp-action="ByEmployee" asp-route-id = "@Manager.ID" class="link-button-nofloat">@Manager.FullName()</a>
                       </div>
                    }
            }
        </div>
        <div class="editorShiftBox">
            <h4>Team Member</h4>
            @{
                foreach(Employee TMember in ViewBag.EmplyList)
                {
                    if(TMember.RankID == 1)
                    {
                        <div class="blockquote">
                        <a asp-action ="ByEmployee" asp-route-id ="@TMember.ID" class="link-button-nofloat">@TMember.FullName()</a>
                        </div>
                        
                    }
                }
            }
        </div>
        </div>
        @*Standard Result Table*@
        <center>
        <table class="w-75">
        <tr class="headerrow2">
        <td class="cell4">ID</td>
        <td class="cell4">Employee</td>
        <td class="cell4">Role</td>
        <td class="cell4">Date</td>
        <td class="cell4">Action</td>
        </tr>
        @{if (ViewBag.ShiftList == null)
        {
            <tr class="row">
            <td class="cell4" colspan="5">No Data to Display</td>
            </tr>
        }
        else
        {
             
            foreach (Shift theShift in theShifts)
            {
                Employee currentEmployee= theShift.GetEmployee();
                <tr>
                    <td class="cell4">@theShift.ID</td>
                    <td class="cell4">@currentEmployee.FullName()</td>
                    <td class="cell4">@theShift.Role</td>
                    <td class="cell4">@theShift.ShiftDate.ToString("D")</td>
                    <td class="cell4"><a asp-action="ViewDetails" class="link-button-nofloat" asp-route-id="@theShift.ID">Detais</a></td>
                </tr>
            }
        }
        }
        </table>
        </center>
    }
    else if(ViewBag.control == 3)
    {
        <h3 class="text-center">All Shifts</h3>
        <br />
        @*Standard Result Table*@
        <center>
            <table class="w-75">
                <tr class="headerrow2">
                    <td class="cell4">ID</td>
                    <td class="cell4">Employee</td>
                    <td class="cell4">Role</td>
                    <td class="cell4">Date</td>
                    <td class="cell4">Action</td>
                </tr>
                @{
                    if (ViewBag.ShiftList == null)
                    {
                        <tr>
                            <td class="cell4" colspan="5">No Shifts to Display</td>
                        </tr>
                    }
                    else
                    {
                        foreach (Shift theShift in theShifts)
                        {
                            Employee currentEmployee = theShift.GetEmployee();
                            <tr>
                                <td class="cell4">@theShift.ID</td>
                                <td class="cell4">@currentEmployee.FullName()</td>
                                <td class="cell4">@theShift.Role</td>
                                <td class="cell4">@theShift.ShiftDate.ToString("D")</td>
                                <td class="cell4"><a asp-action="ViewDetails" class="link-button-nofloat" asp-route-id="@theShift.ID">Detais</a></td>
                            </tr>
                        }
                    }
                }
            </table>
        </center>
    }
    else if (ViewBag.control == 4)
    {
        <h3 class="text-center">Open Shifts</h3>
        <br />
        @*Standard Result Table*@
        <center>
            <table class="w-75">
                <tr class="headerrow2">
                    <td class="cell4">ID</td>
                    <td class="cell4">Employee</td>
                    <td class="cell4">Role</td>
                    <td class="cell4">Date</td>
                    <td class="cell4">Action</td>
                </tr>
                @{
                    if (ViewBag.ShiftList == null)
                    {
                        <tr>
                            <td class="cell4" colspan="5">No Shifts to Display</td>
                        </tr>
                    }
                    else
                    {
                        foreach (Shift theShift in theShifts)
                        {
                            Employee currentEmployee = theShift.GetEmployee();
                            <tr>
                                <td class="cell4">@theShift.ID</td>
                                <td class="cell4">@currentEmployee.FullName()</td>
                                <td class="cell4">@theShift.Role</td>
                                <td class="cell4">@theShift.ShiftDate.ToString("D")</td>
                                <td class="cell4"><a asp-action="ViewDetails" class="link-button-nofloat" asp-route-id="@theShift.ID">Detais</a></td>
                            </tr>
                        }
                    }
                }
            </table>
        </center>
    }
    else
    {
        <p>There was an error processing the request</p>
    }
    <hr />
    <a asp-action="ScheduleEditorIndex" class="link-button-nofloat">Back to Index</a>
}
