@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Employee List";
}

<h2 class="text-center">Employee List</h2>
<br />
<div>
<a asp-action="SearchEmply" class="link-button-nofloat">Search</a>
</div>
<br/>
<div>
<a  asp-action="NewEmployee" class="link-button-nofloat">New Employee</a>
</div>
<br/>
<br/>
<center>
<table class="w-75" >
<tr class="headerrow2">
    <td class="cell4">ID</td>
    <td class="cell4">First Name</td>
    <td class="cell4">Last Name</td>
    <td class="cell4">Birthday</td>
    <td class="cell4">Function</td>
</tr>

@{
    
    foreach(Employee theEmployee in ViewBag.EmployeeList)
    {
        <tr>
            <td class="cell4">
                @theEmployee.ID
            </td>
            <td class="cell4">
                @theEmployee.FirstName
            </td>
            <td class="cell4">
                @theEmployee.LastName
            </td>
            <td class="cell4">
                @theEmployee.DOB.ToString("d")
            </td>
            <td class="cell4">
                <a asp-action="EmployeeDetails" asp-route-id="@theEmployee.ID" class="link-button">Details</a>
            </td>
        </tr>
    }
}
</table>
</center>