@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Employee List";
}

<center>
<h2>Employee List</h2>
<p class="error">@ViewData["EmployeeIndexResult"]</p>
</center>
<br />

<br/>
<center>
<div>
    @*Button to add new Employee*@
    <a asp-action="NewEmployee" class="link-button-nofloat" style="color:black; Background:violet">New Employee</a>
</div>
</center>
<br/>
<br/>
<center>
<table class="w-75" >
<tr class="headerrow2">
    <td class="cell4">ID</td>
    <td class="cell4">First Name</td>
    <td class="cell4">Last Name</td>
    <td class="cell4">Birthday</td>
    <td class="cell4">Function</td>
</tr>
@*Creates a table containing each Employee*@
@{
    
    foreach(Employee theEmployee in ViewBag.EmployeeList)
    {
        <tr>
            <td class="cell4">
                @theEmployee.ID
            </td>
            <td class="cell4">
                @theEmployee.FirstName
            </td>
            <td class="cell4">
                @theEmployee.LastName
            </td>
            <td class="cell4">
                @theEmployee.DOB.ToString("d")
            </td>
            <td class="cell4">
                @{
                    if(@theEmployee.RankID <= ViewBag.CurrentUser.RankID)
                    {
                        <a asp-action="EmployeeDetails" asp-route-id="@theEmployee.ID" class="link-button">Details</a>
                    }
                }
                
            </td>
        </tr>
    }
}
</table>
</center>