@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Employee List";
}

<h2 class="text-center">Employee List</h2>
<br />

<a asp-action="SearchEmply">Search</a>
<br/>
<a  asp-action="NewEmployee">New Employee</a>
<br/>
<br/>
<dl class="row">
    <dt class="col">
        ID
    </dt>
    <dt class="col">
        First Name
    </dt>
    <dt class="col">
        Last Name
    </dt>
    <dt class="col">
        Birthday
    </dt>
    <dt class="col">
        Function
    </dt>
</dl>
@{
    
    foreach(Employee theEmployee in ViewBag.EmployeeList)
    {
        <dl class="row">
            <dt class="col">
                @theEmployee.ID
            </dt>
            <dd class="col">
                @theEmployee.FirstName
            </dd>
            <dd class="col">
                @theEmployee.LastName
            </dd>
            <dd class="col">
                @theEmployee.DOB
            </dd>
            <dd class="col">
                <a asp-action="EmployeeDetails" asp-route-id="@theEmployee.ID" class="link-button">Details</a>
            </dd>
        </dl>
    }
}
