
@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Employee Details";
    @*Identifies the current employee being viewed*@
    Employee currentDetails = ViewBag.currentDetails;

}

<div>
    
    @*Back to List button to bring user back to employee table. Only shows for Managers and GMs*@
    @{
        Employee CurrentUser = ViewBag.CurrentUser;
        int currentRank = CurrentUser.RankID;
        if(currentRank > 1)
        {
            <a asp-action="EditorIndex" class="link-button">Back to List</a>
        }
        <a style="float: left;" class="link-button-nofloat" asp-controller="AvailabilityEditor" asp-action="Index" asp-route-id="@currentDetails.GetCurrentAvailability().ID">View/Edit Availability</a>

    <br/>
    }
    <h1 class="text-center">Employee Information</h1>
    
</div>

@{
    @*Displays General Information for a user to edit*@
    if (Convert.ToInt32(ViewData["EmployeeEditGeneral"]) == currentDetails.ID)
    {
        <form asp-action="Update" asp-route-id =@currentDetails.ID asp-route-a ="1">
            <h2 class="text-center">Edit General Details</h2>
            <dl class="row">
                <dt class="col-sm-2">
                    Current First Name
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.FirstName
                </dd>
                <dt class="col-sm-2">
                    New First Name
                </dt>
                <dd class="col-sm-4">
                    <input name="newFirstName" value=@currentDetails.FirstName>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Current Last Name
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.LastName
                </dd>
                <dt class="col-sm-2">
                    New Last Name
                </dt>
                <dd class="col-sm-4">
                    <input name="newLastName" value=@currentDetails.LastName>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Current Rank
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.GetRank().Title
                </dd>
                <dt class="col-sm-2">
                    New Rank
                </dt>
                <dd class="col-sm-4">
                    <select name="newRank">
                        @{
                            foreach(Rank theRank in Rank.GetList(Context.Session.GetInt32("_LoggedInRank") ?? 0))
                            {
                                if(theRank.ID == currentDetails.RankID)
                                {
                                    <option selected value="@theRank.ID">@theRank.Title</option>
                                } 
                                else
                                {
                                    <option value="@theRank.ID">@theRank.Title</option>
                                }
                            }
                        }
                    </select>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Current Date of Birth
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.DOB.ToString("d")
                </dd>
                <dt class="col-sm-2">
                    New Date of Birth
                </dt>
                <dd class="col-sm-4">
                    <input name="newDOB" value="@currentDetails.DOB.ToString("yyyy-MM-dd")" type="date">
                </dd>
            </dl>
            <input type="submit" name="Save"><br/>
            <button asp-action="EmployeeDetails" asp-route-id=@currentDetails.ID>Cancel</button>
        </form>
    }
    @*Will Display Contact information for user to edit their data*@
    else if (Convert.ToInt32(ViewData["EmployeeEditContact"]) == currentDetails.ID)
    {
        <form asp-action="Update" asp-route-id=@currentDetails.ID asp-route-a ="2">
            <h2 class="text-center">Edit Contact Details</h2><br/>
            <dl class="row">
                <dt class="col-sm-2">
                    Current Email
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.Email
                </dd>
                <dt class="col-sm-2">
                    New Email
                </dt>
                <dd class="col-sm-4">
                    <input name="newEmail" value=@currentDetails.Email>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Current Phone
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.Phone
                </dd>
                <dt class="col-sm-2">
                    New Phone
                </dt>
                <dd class="col-sm-4">
                    <input name="newPhone" value=@currentDetails.Phone>
                </dd>
            </dl>
            <input type="submit"><br />
            <button asp-action="EmployeeDetails" asp-route-id=@currentDetails.ID>Cancel</button>
        </form>
    }
    @*Allows User to Change their username and password*@
    else if (Convert.ToInt32(ViewData["EmployeeEditAccount"]) == currentDetails.ID)
    {
        <form asp-action="Update" asp-route-id=@currentDetails.ID asp-route-a ="3">
            <h2 class="text-center">Edit Account Credentials</h2><br />
            <dl class="row">
                <dt class="col-sm-2">
                    Current User Name
                </dt>
                <dd class="col-sm-4">
                    @currentDetails.Username
                </dd>
                <dt class="col-sm-2">
                    New User Name
                </dt>
                <dd class="col-sm-4">
                    <input name="newUserName" value=@currentDetails.Username>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                   New Password
                </dt>
                <dd class="col-sm-4">
                    <input name="newPassword" placeholder="##############">
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Verify Password
                </dt>
                <dd class="col-sm-4">
                    <input name="verifyPassword" placeholder="##############" type="password">
                </dd>
            </dl>
            <input type="Submit"><br />
            <button asp-action="EmployeeDetails" asp-route-id=@currentDetails.ID>Cancel</button>
        </form>
    }
    @*Displays all sections of Employe Details. No user should be able to edit the details of a user of higher rank*@
    else
    {
        <div class="text-center">
            <h2>General</h2>
            <br />
        </div>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    First Name
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.FirstName
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Last Name
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.LastName
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Rank
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.GetRank().Title
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Date of Birth
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.DOB.ToString("d")
                </dd>
            </dl>
            <div>
            @{
               if(ViewBag.currentDetails.RankID <= ViewBag.CurrentUser.RankID)
                 {
                    <a asp-action="Edit" asp-route-id=@currentDetails.ID asp-route-a="1" class="link-button-nofloat">Edit</a>
                 }
            }
            </div><br />
        </div>
        <div class="text-center">
            <h2>Contact Information</h2>
        </div>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.Email
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Phone
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.Phone
                </dd>
            </dl>
            <div>
                @{
                    if (ViewBag.currentDetails.RankID <= ViewBag.CurrentUser.RankID)
                    {
                        <a asp-action="Edit" asp-route-id=@currentDetails.ID asp-route-a="2" class="link-button-nofloat">Edit</a>
                    }
                }
           
            </div><br />
        </div>
        <div class="text-center">
            <h2>Account Info</h2>
        </div>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    User Name
                </dt>
                <dd class="col-sm-10">
                    @currentDetails.Username
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    Password
                </dt>
                <dd class="col-sm-10">
                    ############
                </dd>
            </dl>
            <div>
                @{
                    if (ViewBag.currentDetails.RankID <= ViewBag.CurrentUser.RankID)
                    {
                        <a asp-action="Edit" asp-route-id=@currentDetails.ID asp-route-a="3" class="link-button-nofloat">Edit</a>
                    }
                }
            
            </div><br/>
            <hr />
        </div>


        if(ViewBag.CurrentUser.RankID>1 && ViewBag.CurrentUser != ViewBag.currentDetails && ViewBag.CurrentUser.RankID > ViewBag.currentDetails.RankID)
        {
            <div>
                <a class="link-button-nofloat" asp-action="Delete" asp-route-id=@currentDetails.ID style=" Background:Orangered">Delete</a>
            <br/><br/>
            </div>
        }

    }
}
