@{
    ViewData["Title"] = "Details Screen";
    if(ViewData["Message"] != null)
    {
        <p>Message: @ViewData["Message"]</p>
    }
    switch(ViewData["ClassType"])
    {
        case "Employee":
            Employee theEmployee = ViewBag.theEmployee;
            Rank theRank = new Rank(theEmployee.RankID);
            <p>@theEmployee.FullName()</p>
            <p>Rank: @theRank.Title</p>
            <p>Password: @theEmployee.Password <form asp-action="Update" asp-route-type="Employee" asp-route-id=@theEmployee.ID><input type="text" name="NewPassword" /><input type="submit" value="Change" /></form></p>
            <p>Username: @theEmployee.Username</p>
            <p>Phone: @theEmployee.Phone</p>
            <p>Email: @theEmployee.Email</p>
            <p>DOB: @theEmployee.DOB.ToString()</p>
            break;
        case "Availability":
            Availability theAvailability = ViewBag.theAvailability;
            Employee thisEmployee = theAvailability.GetEmployee();
            <p>Availability ID: @theAvailability.ID</p>
            <p>Employee: @thisEmployee.FullName()</p>
            <table>
            <tr><td>Weekday</td><td>Start Time</td><td>End Time</td></tr>
                <tr><td>Monday</td><td>@theAvailability.MondayStart.ToString("t")</td><td>@theAvailability.MondayEnd.ToString("t")</td></tr>
                <tr><td>Tuesday</td><td>@theAvailability.TuesdayStart.ToString("t")</td><td>@theAvailability.TuesdayEnd.ToString("t")</td></tr>
                <tr><td>Wednesday</td><td>@theAvailability.WednesdayStart.ToString("t")</td><td>@theAvailability.WednesdayEnd.ToString("t")</td></tr>
                <tr><td>Thursday</td><td>@theAvailability.ThursdayStart.ToString("t")</td><td>@theAvailability.ThursdayEnd.ToString("t")</td></tr>
                <tr><td>Friday</td><td>@theAvailability.FridayStart.ToString("t")</td><td>@theAvailability.FridayEnd.ToString("t")</td></tr>
                <tr><td>Saturday</td><td>@theAvailability.SaturdayStart.ToString("t")</td><td>@theAvailability.SaturdayEnd.ToString("t")</td></tr>
                <tr><td>Sunday</td><td>@theAvailability.SundayStart.ToString("t")</td><td>@theAvailability.SundayEnd.ToString("t")</td></tr>
                <form asp-action="Update" asp-route-type="Availability" asp-route-id=@theAvailability.ID>
                <tr>
                    <td>New Sunday</td>
                    <td>
                        <select name="NewSundayStart">
                                @{
                                    DateTime theDate = Convert.ToDateTime("1/1/2001 00:00:00");
                                    for(int i=0; i<24; i++)
                                    {
                                        <option value="@theDate.ToString()">@theDate.ToString("t")</option>
                                        theDate=theDate.AddHours(1);
                                    }
                                }
                        </select>
                    </td>
                    <td>
                        <select name="NewSundayEnd">
                                @{
                                    theDate = Convert.ToDateTime("1/1/2001 00:00:00");
                                    for (int i = 0; i < 24; i++)
                                    {
                                    <option value="@theDate.ToString()">@theDate.ToString("t")</option>
                                        theDate=theDate.AddHours(1);
                                    }
                                }
                        </select>
                    </td>
                </tr>
                <tr>
                <td></td>
                <td colspan=2><input type="submit" value="Submit" /></td>
                </tr>
                </form>
            </table>
            break;
        case "Shift":
            Shift theShift = ViewBag.theShift;
            Employee shiftEmployee = theShift.GetEmployee();
            <p>Shift ID: @theShift.ID</p>
            <p>Shift Is Open: @theShift.IsOpen.ToString()</p>
            <p>Employee ID: @theShift.EmployeeID</p>
            <form asp-action="Update" asp-route-type="Shift" asp-route-id="@theShift.ID">
            <p>Employee Full Name: @shiftEmployee.FullName() New Employee: <select name="NewEmployeeID">
                @{
                    foreach(Employee iEmployee in Employee.GetList())
                    {
                        <option value="@iEmployee.ID">@iEmployee.FullName()</option>
                    }
                }
                </select>
                <input type="submit" value="Save">
            </p>
            </form>
            <p>Shift Date: @theShift.ShiftDate.ToString("D")</p>
            <p>Shift Start Time: @theShift.StartTime.ToString("t")</p>
            <p>Shift End Time: @theShift.EndTime.ToString("t")</p>
            <p>Role: @theShift.Role</p>
            <p>Notes: @theShift.Notes</p>
            break;
        case "PickupRequest":
            PickupRequest theRequest = ViewBag.thePickupRequest;
            Employee requestEmployee = theRequest.GetEmployee();
            Shift requestShift = theRequest.GetShift();
            String managerName = theRequest.ManagerID == 0 ? "None" : theRequest.GetManager().FullName();
            <h2>Requested Shift:</h2>
            <hr />
            <p>ID: @theRequest.ShiftID</p>
            <p>Date: @requestShift.ShiftDate.ToString("D")</p>
            <p>Start: @requestShift.StartTime.ToString("t")</p>
            <p>End: @requestShift.EndTime.ToString("t")</p>
            <p>Role: @requestShift.Role</p>
            <h2>Requested Employee:</h2>
            <hr />
            <p>Full Name: @requestEmployee.FullName()</p>
            <h2>Request Information:</h2>
            <hr />
            <p>Approved: @theRequest.IsApproved <form asp-action="UpdatePickupRequest" asp-route-empid="@theRequest.EmployeeID" asp-route-shiftid="@theRequest.ShiftID"><input type="submit" value="Change" /></form>
            </p>
            <p>Actioning Manager: @managerName</p>
            break;
        case "TimeOffRequest":
            TimeOffRequest theTORequest = ViewBag.theTimeOffRequest;
            Employee toRequestEmployee = theTORequest.GetEmployee();
            String toManagerName = theTORequest.ManagerID == 0 ? "None" : theTORequest.GetManager().FullName();
            <p>ID: @theTORequest.ID</p>
            <p>Employee: @toRequestEmployee.FullName()</p>
            <p>Start Date: @theTORequest.StartDate.ToString("D")</p>
            <p>End Date: @theTORequest.EndDate.ToString("D")</p>
            <p>Approved: @theTORequest.IsApproved</p>
            <form asp-action="Update" asp-route-type="TimeOffRequest" asp-route-id="@theTORequest.ID">
            <p><input type="submit" value="Change" /></p>
            </form>
            <p>Actioning Manager: @toManagerName</p>
            break;
    }
}
